services:
  db:
    image: postgres:18
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: fastapi_backend
    restart: always
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SERPAPI_KEY: ${SERPAPI_KEY}
    ports:
      - "8000:8000"
    depends_on:
      - db
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.update-via-api.schedule: "@daily"
      ofelia.job-exec.update-via-api.command: "python /app/update_flights.py"

  frontend:
    build: ./frontend
    container_name: react_frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

  ofelia:
    image: mcuadros/ofelia:latest
    container_name: scheduler
    depends_on:
      - backend
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
volumes:
  postgres_data: